{{#if addNewQuestion}}
  <h1>New Question</h1>
    <form>
      <div class="form-group">
        <label for="query">Question</label>
        {{input value=query  id="query"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes"}}
      </div>

      <div class="form-group">
        <label for="answer">Answer</label>
        {{input value=answer id="answer"}}
      </div>

      <button {{action 'addQuestion1' question}}>Save</button> <!--This is the start to our Action up, this click starts the process of saving the new rental to the data base. -->
    </form>
{{else}}
  <button {{action 'newQuestionFormShow'}}>New Question</button>
{{/if}}
