{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <form>
      <div class="form-group">
        <label for="answerauthor">Answer</label>
        {{input value=answerauthor id="answerauthor"}}
      </div>

      <div class="form-group">
        <label for="answerinput">Author</label>
        {{input value=answerinput id="answerinput"}}
      </div>

      <button {{action 'addAnswer1'}}>Save</button>
    </form>
{{else}}
  <button {{action 'newAnswerFormShow'}}>New Answer</button>
{{/if}}
