{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <form>
      <div class="form-group">
        <label for="answerInput">Answer</label>
        {{input value=answerInput id="answerInput"}}
      </div>

      <div class="form-group">
        <label for="answerAuthor">Author</label>
        {{input value=answerAuthor id="answerAuthor"}}
      </div>

      <button {{action 'addAnswer1' question}}>Save</button>
    </form>
{{else}}
  <button {{action 'newAnswerFormShow'}}>New Answer</button>
{{/if}}
