<li>
  <p><strong>Question:</strong> {{question.query}}</p>
  <p><strong>Author:</strong>{{question.author}}</p>
  <p><strong>Notes:</strong> {{question.notes}}</p>
  <p><strong>Answer:</strong> {{question.answer}}</p>
</li>
<button {{action 'deleteQuestion' question}}>Delete</button>
{{question-edit question=model update='update'}}
