<h1>Question Display HBS</h1>
<li>
  <p><strong>Question:</strong> {{question.question}}</p>
  <p><strong>Author:</strong>{{question.author}}</p>
  <p><strong>Notes:</strong> {{question.notes}}</p>
  <p><strong>Answer:</strong> {{question.answer}}</p>
</li>
<button {{action 'deleteQuestion'}}>Delete</button>
