<p class="query-questions">{{question.query}}</p>
<div class="question-questions">
  <p><strong>Author:</strong> {{fullName}}</p>
  <p><strong>Notes:</strong> {{question.notes}}</p>
  <div class="question-buttons-questions">
    <button {{action 'deleteQuestion' question}}>Delete</button>
    {{question-edit question=question update='update'}}
  </div>
</div>
<hr>
